$def with(company_types)
<h3>
    <a href="/company_types">company_types</a>
</h3>
<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>company_types</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        $for item in company_types:
        <tr>
            <td><a href='/company_types/view/$item.id_company_types'>$item.id_company_types</a></td>
            <td><a href='/company_types/edit/$item.id_company_types'><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href='/company_types/delete/$item.id_company_types'><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </tbody>
</table>
<br>
<br>