$def with(offers)
<h3>
    <a href="/offers">offers</a>
</h3>
<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>offers</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        $for item in offers:
        <tr>
            <td><a href='/offers/view/$item.id_offer'>$item.id_offer</a></td>
            <td><a href='/offers/edit/$item.id_offer'><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href='/offers/delete/$item.id_offer'><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </tbody>
</table>
<br>
<br>